<body>
<div class="left-column">
    <!-- Content and background image for the left column -->
    <span class="forgotpassword-text">
        <span>
            <span>LEARNING MADE</span>
            <br />
            <span>EASY WITH</span>
            <br />
            <span>ANN-CONNECT</span>
        </span>
    </span>
</div>
<div class="right-column">
    <img src="assets/img/vector6286-hdr.svg" />
    <div class="login-form">
            <div class="pt-4 pb-2">
                <h5 class="card-title text-left pb-0 fs-4">Login to Your Student Portal</h5>
                <p class="text-left small">Enter your Email & password to login</p>
            </div>

            <form (ngSubmit)="onUserLoginSubmit_Func(email, password)"
            >
                <div class="col-7">
                    <label for="email" class="form-label">Student ID :</label>
                    <div>
                        <input type="text" name="email" id="email" [(ngModel)]="email" placeholder=" Enter Email...." required>
                        <div class="invalid-feedback">Please enter your Student Number.</div>
                    </div>
                </div>

                <div class="col-7">
                    <label for="password" class="form-label">Password :</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password" placeholder=" Enter Password...." required>
                    <div class="invalid-feedback">Please enter your password!</div>
                </div>

                <div class="col-7">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                </div>
                <div class="col-7">
                    <button type="submit">Login</button>
                </div>
                <br />
                <div class="col-6">
                    <p class="small mb-0">Don't have account? <a routerLink="/sign-up">Create an account</a></p>
                </div>
            </form>
    </div>
</div>



    <!--<form action="login.php" method="POST">
    Replace 'login.php' with your login script
    <input type="text" name="username" placeholder="Student Number:" required>

    <span class="otp-text18">Student Number</span>
    <br>
    <input type="text" name="username" placeholder="Student Number:" required>
    <br>
    <span class="otp-text18">Password</span>
    <br>
    <input type="password" name="Password" placeholder="Password" required>
    <br>
    <button type="submit">Submit</button>
</form>-->

</body>